<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>task.io | Projects</title>
        <link rel="stylesheet" href="/public/assets/projects.css">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo-details">
              <i class='bx bx-menu sidebarBtn'></i>
              <span class="logo_name">Task.io</span>
            </div>
              <ul class="nav-links">
                <li>
                  <a href="/" class="active">
                    <i class='bx bx-box' ></i>
                    <span class="links_name">Projects</span>
                  </a>
                </li>
                <li>
                  <a href="/tickets">
                    <i class='bx bx-task' ></i>
                    <span class="links_name">Tasks</span>
                  </a>
                </li>
              </ul>
          </div>
          <section class="home-section">
            <nav>
              <div class="sidebar-button">
                <i class='bx bx-notepad'></i>
                <span class="dashboard">Projects</span>
              </div>
              <div class="Profile">
                <button class="profile-btn" onclick="ProfileBtn()"><i class="bx-md bx bxs-user"></i></button>
              </div>
            </nav>
            <div class="profile-details" id="profile-details">
              <div class="userName"><%= name %></div>
              <div class="userEmail"><%= email %></div>
              <form action="/logout?_method=DELETE" method = "POST">
                <span class="links_name"><button class ="close-profile-btn">Log out<i class='bx-fw bx bx-log-out' ></i></button></span>
            </form>
            </div>
            <div class="home-content">
                <% if (message.length != 0) { %>
                  <div class="successMessage"><%= message %></div>
              <% } %>
                <span class="new_project">Create Project</span>
                <div class="overview">
                  <div class="box">
                    <div class="right-side">
                      <div class="new-project">New Project</div>
                    </div>
                    <button class="new-project-btn" onclick="newProjectBtn()"><i class="bx-md bx bx-list-plus"></i></button>
                  </div>
                <span class ="join_project">Join Project</span>
                <div class="box">
                  <div class="right-side">
                    <div class="new-project">Join Project</div>
                  </div>
                  <button class="new-project-btn" onclick="joinProjectBtn()"><i class="bx-md bx bx-list-check"></i></button>
                </div>
              </div>
              <div class="new-project-form" id="new-project-form">
                <form id ="form" name= "form" action="/groups" method = "POST">
                  <div>
                    <input type="text" id="groupname" name="groupname"
                    placeholder = "Project Name" required>
                  </div> 
                  <div>
                    <input type="password" id="grouppassword" name="grouppassword"
                    placeholder = "Password">
                  </div>
                  <button>Create Project</button>
                  </form>
            </div>
                 <div class="join-project-form" id="join-project-form">
                  <div class ="joinGroup">
                    <form class="join-Group-form" action="/joinGroup" method = "POST">
                        <div>
                          <input type="text" id="groupName1" name="groupName1"
                          placeholder = "Project Name" required>
                        </div> 
                        <div>
                          <input type="password" id="groupPassword1" name="groupPassword1"
                          placeholder = "Password" required>
                        </div>
                        <button>Join Project</button>
                        </form>
                </div>
                </div>   
              <span class="all_projects">Your Projects</span>
              <div class="overview-boxes">
                <div class="box">
                  <div class="right-side">
                    <% if(group == 0){%>
                      You are not in a project.
                      <% } else { %>
                        <%
                        if(groupInfo.length!=0){
                        var i=1;
                        groupInfo.forEach(function(groupData){
                        %>
                      <div class="number"><%=groupData.groupName %></div>
                      <% })}} %>
                      <%
                      if(groupMembers.length!=0){
                      var i=1; %>
                      <div class= "project-members">
                      Members: </div><div>
                      <% groupMembers.forEach(function(groupmembers){
                      %>
                      <%= groupmembers.username %>, 
                      <% i++ }) %>
                      <form action="/leavegroup?_method=DELETE" method = "POST">
                        <button class ="leave-group-btn">Leave Project</button>
                        <% } %>
                    </form>
                  </div>
                  <button class="project-link"><a href="/tickets"><i class='bx-md bx bx-right-arrow-alt' ></i></button>
                </div>
              </div>
            </div>
          </section>
          <script>
               let sidebar = document.querySelector(".sidebar");
               let sidebarBtn = document.querySelector(".sidebarBtn");
               sidebarBtn.onclick = function() {
                sidebar.classList.toggle("active");
                if(sidebar.classList.contains("active")){
                  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-left");
                }else
                  sidebarBtn.classList.replace("bx-menu-alt-left", "bx-menu");
                }
                function newProjectBtn() {
                    var x = document.getElementById("new-project-form");
                    if (x.style.display === "block") {
                    x.style.display = "none";
                    } else {
                    x.style.display = "block";
                    }
                }
                function joinProjectBtn() {
                    var x = document.getElementById("join-project-form");
                    if (x.style.display === "block") {
                    x.style.display = "none";
                    } else {
                    x.style.display = "block";
                    }
                }
              function ProfileBtn() {
              var x = document.getElementById("profile-details");
              if (x.style.display === "block") {
              x.style.display = "none";
              } else {
              x.style.display = "block";
              }
            }
          </script>
    </body>
</html>
